---
import Layout from "@layouts/Page.astro";
import Tags from "@components/Tags.astro";
---

<Layout
	title="Notes (Tags)"
	description="A collection of raw materials that I'm still sorting out"
>
	<p>Tags are one way to navigate through notes.</p>
	<section>
		<Tags />
	</section>
</Layout>
