---
import { getCollection } from "astro:content";
import Layout from "@layouts/Page.astro";
import Tags from "@components/Tags.astro";

const notes = await getCollection("note");
---

<Layout
	title="Notes (Tags)"
	description="A collection of raw materials that I'm still sorting out"
	shouldShowSearch="true"
>
	<p>Tags are one way to navigate through notes.</p>
	<section>
		<Tags collection={notes} baseRoute="note/tag" />
	</section>
</Layout>
