<article class="h-card bio">
	<a href="https://ryanparsley.com/" class="u-url image">
		<img src="bio-photo.jpg" alt="Ryan Parsley" />
	</a>
	<div class="words">
		<div class="p-note">
			I've been making websites for over 20 years. Here is where I occasionally
			share <a href="/blog">posts</a>. I'm also starting to tend my digital
			garden by sharing less thought out <a href="/note">notes</a> more frequently.
			<p>&mdash;<span class="p-name">Ryan Parsley</span></p>
		</div>
	</div>
</article>
<style lang="scss">
	.bio {
		display: flex;
		gap: 1.5rem;
		padding: 2rem 1rem;
		.image {
			flex: none;
			img {
				max-width: 100px;
				border-radius: 50px;
			}
		}
		.words {
			flex: 2;
		}
	}
</style>
