---

---

<h3>Elsewhere</h3>
<p>
	I make little things all over the internet. Here are a few of my favorite
	places to share things.
</p>
<ul>
	<li>
		<a rel="me" href="https://mastodon.social/@RyanParsley">Mastodon</a>
	</li>
	<li>
		<a rel="me" href="https://pixelfed.social/i/web/profile/735998286279450230"
			>Pixelfed</a
		>
	</li>
	<li>
		<a rel="me" href="https://github.com/ryanparsley">GitHub</a>
	</li>
	<li>
		<a rel="me" href="https://codepen.io/RyanParsley">CodePen</a>
	</li>
	<li>
		<a rel="me" href="https://www.youtube.com/@RyanParsley">YouTube</a>
	</li>
</ul>

<style lang="scss">
	ul {
		margin: 0.75rem 0 0 0;
		padding: 0 0 0 1rem;
	}
</style>
