---
const today = new Date();
import HeaderLink from "./HeaderLink.astro";
---

<footer>
	&copy; {today.getFullYear()} Ryan Parsley. All rights reserved.
	<nav>
		<HeaderLink
			href="https://mastodon.social/@RyanParsley"
			rel="me"
			target="_blank"
		>
			Mastodon
		</HeaderLink>
		<HeaderLink href="https://github.com/ryanparsley" rel="me" target="_blank">
			GitHub
		</HeaderLink>
		<HeaderLink href="https://codepen.io/RyanParsley" rel="me" target="_blank">
			CodePen
		</HeaderLink>
		<HeaderLink href="/presentations"> Presentations </HeaderLink>
		<HeaderLink href="/rss.xml">Feed</HeaderLink>
	</nav>
	<a href="https://brid.gy/publish/bluesky"></a>
	<a href="https://brid.gy/publish/flickr"></a>
	<a href="https://brid.gy/publish/github"></a>
	<a href="https://brid.gy/publish/mastodon"></a>
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
		background-color: var(--nord1);
	}
</style>
