---

---

<h3>Subscribe</h3>
<p>RSS is alive and well, here are a few feeds I provide.</p>
<ul>
	<li>
		<a href="/rss.xml">Articles</a>
	</li>
	<li>
		<a href="/note/rss.xml">Notes</a>
	</li>
</ul>

<style lang="scss">
	ul {
		margin: 0.75rem 0 0 0;
		padding: 0 0 0 1rem;
	}
</style>
