---
const { collection, baseRoute } = Astro.props;
type Collection = { data: { tags: string[] } };
const tags = [
	...new Set(
		collection
			.filter((note: Collection) => !!note.data.tags)
			.map((note: Collection) => note.data.tags)
			.flat()
			.filter((tag: string) => tag !== "note"),
	),
] as string[];
---

<h2>Tags</h2>
<ul>
	{
		tags.map((tag) => (
			<li>
				<a href={`/${baseRoute}/${tag}`} title={tag}>
					{tag}
				</a>
			</li>
		))
	}
</ul>

<style lang="scss">
	ul {
		margin: 0.75rem 0 0 0;
		padding: 0 0 0 1rem;
	}
</style>
