---
import type { CollectionEntry } from "astro:content";

const { collection, baseRoute } = Astro.props;

interface Props {
	collection: CollectionEntry<"blog">[] | CollectionEntry<"note">[];
	baseRoute: string;
}

const tags = [
	...new Set(
		collection
			.filter((entry) => !!entry.data.tags)
			.map((entry) => entry.data.tags)
			.flat()
			.filter((tag) => tag !== "note"),
	),
];
---

<h2>Tags</h2>
<ul>
	{
		tags.map((tag) => (
			<li>
				<a href={`/${baseRoute}/${tag}`} title={tag}>
					{tag}
				</a>
			</li>
		))
	}
</ul>

<style lang="scss">
	ul {
		margin: 0.75rem 0 0 0;
		padding: 0 0 0 1rem;
	}
</style>
