---
import BaseHead from "@components/BaseHead.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Search from "@components/Search.astro";
import "@fontsource/roboto-mono";
import "@fontsource/victor-mono";
const { title, description, class: className } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
		<script src="/pagefind/pagefind-ui.js"></script>
		<div id="search"></div>
		<script>
			window.addEventListener("DOMContentLoaded", (event) => {
				new PagefindUI({ element: "#search", showSubResults: true });
			});
		</script>
		<input id="search" type="text" placeholder="Search..." />
		<main class={className}>
			<header>
				<h1>{title}</h1>
			</header>
			<slot />
		</main>
		<Footer />
	</body>
</html>
